.background {
  background-image: url('imgs/hero.png');
  background-size: cover;
  background-position: center;

  /* make image darker */
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;

  height: 500px;
}

.title {
  background: -webkit-linear-gradient(0deg, rgb(64, 204, 255) 10%, rgb(254, 255, 230) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-text {
  color: rgb(231, 231, 231);
}
