.img {
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.title-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.title-container button {
  border: 1px solid blue;
  background: none;
  color: blue;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  height: fit-content;
  align-self: center;
}
