.button {
  border: 1px solid blue;
  background: none;
  color: blue;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 30px;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  align-self: center;
}
