.footer {
  background-color: rgb(17 24 39);
}

.img {
  width: 35px;
  margin-right: 20px;
}

.contact-icons i {
  margin-right: 5px;
  color: rgb(75, 189, 255);
}

.info-icons i {
  margin-right: 5px;
  color: rgb(75, 189, 255);
}
